@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global reset for html and body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-color: #1f2937; /* The background color for your site */
  }
  
  /* Optionally, add a smooth scroll behavior */
  * {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align the content */
  }
  